.druggridwrapper {
  &__header {
    h2 {
      margin-top: 60px;
      margin-bottom: 40px;
    }

    p {
      display: none;
    }

    @media (max-width: 502px) {
      margin-top: 40px;

      h2 {
        margin-bottom: 40px;
        line-height: 30.46px;
      }

      p {
        margin-bottom: 35px;
        display: block;
        line-height: 21px;
      }
    }

    @media (max-width: 376.98) {
      margin-top: 30px;

      h2 {
        margin-bottom: 15px;
      }
    }
  }

  &__quickinfocol {
    @media (max-width: 991.98px) {
      display: none;
    }
  }
}

.druggrid {
  max-width: 490px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 12px;
  margin-top: 20px;

  @media (max-width: 991.98px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  @media (max-width: 531.98px) {
    margin-left: 12px;
  }

  h3 {
    display: inline;
    margin-bottom: 0;
  }

  button {
    height: 100%;
    width: 100%;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
  }

  &__col {
    display: flex;
    flex-direction: column;
    position: relative;

    &:nth-child(1) {
      .druggrid__item {
        &:nth-child(1) .druggrid__inner {
          background: linear-gradient(
              rgba(245, 245, 245, 0.9),
              rgba(245, 245, 245, 0.9)
            ),
            url('/ui/img/patterns/druggridpattern-4.jpg') no-repeat center/cover;
        }

        &:nth-child(2) {
          height: 117px;
          @media (max-width: 502.98px) {
            height: 97px;
          }
          @media (max-width: 418px) {
            height: 87px;
          }
          @media (max-width: 376.98px) {
            height: 78px;
          }
        }

        &:nth-child(3) .druggrid__inner {
          background: linear-gradient(
              rgba(245, 245, 245, 0.9),
              rgba(245, 245, 245, 0.9)
            ),
            url('/ui/img/patterns/druggridpattern-3.jpg') no-repeat center/cover;
        }
      }
    }

    &:nth-child(2) {
      left: -4px;

      .druggrid__item {
        &:nth-child(1) {
          height: 121px;

          @media (max-width: 502.98px) {
            height: 101px;
          }
          @media (max-width: 418px) {
            height: 91px;
          }
          @media (max-width: 376.98px) {
            height: 82px;
          }
        }

        &:nth-child(2) .druggrid__inner {
          background: linear-gradient(
              rgba(245, 245, 245, 0.9),
              rgba(245, 245, 245, 0.9)
            ),
            url('/ui/img/patterns/druggridpattern.jpg') no-repeat center/cover;
        }

        &:nth-child(3) {
          height: 117px;
          @media (max-width: 502.98px) {
            height: 97px;
          }
          @media (max-width: 418px) {
            height: 87px;
          }
          @media (max-width: 376.98px) {
            height: 78px;
          }
        }

        &:nth-child(4) .druggrid__inner {
          background: linear-gradient(
              rgba(245, 245, 245, 0.9),
              rgba(245, 245, 245, 0.9)
            ),
            url('/ui/img/patterns/druggridpattern-6.jpg') no-repeat center/cover;
        }
      }
    }

    &:nth-child(3) {
      left: -8px;

      .druggrid__item {
        &:nth-child(1) .druggrid__inner {
          background: linear-gradient(
              rgba(245, 245, 245, 0.9),
              rgba(245, 245, 245, 0.9)
            ),
            url('/ui/img/patterns/druggridpattern-1.jpg') no-repeat center/cover;
        }

        &:nth-child(2) {
          height: 117px;

          @media (max-width: 502.98px) {
            height: 97px;
          }
          @media (max-width: 418px) {
            height: 87px;
          }
          @media (max-width: 376.98px) {
            height: 78px;
          }
        }

        &:nth-child(3) .druggrid__inner {
          background: linear-gradient(
              rgba(245, 245, 245, 0.9),
              rgba(245, 245, 245, 0.9)
            ),
            url('/ui/img/patterns/druggridpattern-5.jpg') no-repeat center/cover;
        }
      }
    }

    &:nth-child(4) {
      left: -12px;

      .druggrid__item {
        &:nth-child(1) {
          height: 121px;

          @media (max-width: 502.98px) {
            height: 101px;
          }
          @media (max-width: 418px) {
            height: 91px;
          }
          @media (max-width: 376.98px) {
            height: 82px;
          }
        }

        &:nth-child(2) .druggrid__inner {
          background: linear-gradient(
              rgba(245, 245, 245, 0.9),
              rgba(245, 245, 245, 0.9)
            ),
            url('/ui/img/patterns/druggridpattern-2.jpg');
        }

        &:nth-child(3) {
          height: 117px;

          @media (max-width: 502.98px) {
            height: 97px;
          }
          @media (max-width: 418px) {
            height: 87px;
          }
          @media (max-width: 376.98px) {
            height: 78px;
          }
        }

        &:nth-child(4) .druggrid__inner {
          background: linear-gradient(
              rgba(245, 245, 245, 0.9),
              rgba(245, 245, 245, 0.9)
            ),
            url('/ui/img/patterns/druggridpattern-7.jpg');
        }
      }
    }
  }

  &__item {
    width: 125px;
    height: 125px;
    padding: 4px;
    @media (max-width: 502.98px) {
      width: 105px;
      height: 105px;
    }
    @media (max-width: 418px) {
      width: 95px;
      height: 95px;
    }
    @media (max-width: 376.98px) {
      width: 86px;
      height: 86px;
    }

    background: linear-gradient(223.65deg, #bd09ff -7.55%, #e8005f 94.92%);

    &--blank {
      background: transparent;

      .druggrid__inner {
        background: transparent;
      }
    }

    &--selected .druggrid__inner,
    &:hover .druggrid__inner {
      cursor: pointer;
      background: transparent !important;
      color: white;
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    text-align: center;
    font-size: 1.9rem;
    line-height: 1.3157;
    margin: 0;

    @media (max-width: 502px) {
      font-size: 1.6rem;
    }

    @media (max-width: 418px) {
      font-size: 1.5rem;
    }

    @media (max-width: 376.98px) {
      font-size: 1.4rem;
      max-width: 70px;
      overflow-wrap: break-word;
    }
  }
}
