.swipercarousel {
  padding: 0 29px;
  display: none;
  @include media-breakpoint-down(md) {
    display: block;
  }

  .swiper-container {
    overflow: visible !important;
  }

  .attribution-wrapper {
    position: absolute;
    background: rgba(14, 57, 68, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 0 10px;

    &.hidden {
      display: none;
    }
  }

  .view-attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    line-height: 24px;
    text-decoration: underline;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    color: #828282;

    > span {
      margin-right: 5px;
    }
  }
}

.drug-image.has-carousel {
  @include media-breakpoint-down(md) {
    display: none;
  }
}
