

.spinner {
  $diameter: 14rem;
  position: relative;
  min-height: $diameter + 2rem;

  &:after {
    transition: 2.5s opacity linear;
    opacity: 0;
    position: absolute;
    content: '';
    display: block;
    width: $diameter;
    height: $diameter;
    transform-origin: center center;
    top: 50%;
    left: 50%;
    margin-top: -($diameter + 6px) / 2;
    margin-left: -($diameter + 6px) / 2;
    border-width: 6px;
    border-style: solid;
    border-color: $pink $pink $white $white;
    border-radius: 50%;
    overflow: hidden;
    animation: spinner .6s infinite linear;
  }

  .spinner__inner {
    display: inline-block;
    text-align: center;
  }
}

.loading.btn--arrow {
  @extend .spinner;
  $diameter: 2rem;
  min-height: $diameter + 10px;

  &:after {
    opacity: 1;
    left: auto;
    background-image: none;
    width: $diameter;
    border-width: 3px;
    height: $diameter;
    margin-top: -($diameter + 6px) / 2;
    margin-left: -($diameter + 6px) / 2;
    animation-duration: .45s;
  }
}

.spinner--active {
  &:after {
    opacity: 1;
  }
}

@keyframes spinner {
  0% { transform: rotate(0); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
