# https://forums.aws.amazon.com/thread.jspa?threadID=256632
files:
  /etc/nginx/conf.d/gzip.conf:
    content: |
      gzip on;
      gzip_comp_level 9;
      gzip_types
        text/html
        application/eot
        application/x-otf
        application/font
        application/x-perl
        application/font-sfnt
        application/x-ttf
        application/javascript
        font/eot
        application/json
        font/ttf
        application/opentype
        font/otf
        application/otf
        font/opentype
        application/pkcs7-mime
        image/svg+xml
        application/truetype
        text/css
        application/ttf
        text/csv
        application/vnd.ms-fontobject
        application/xhtml+xml
        text/javascript
        application/xml
        text/js
        application/xml+rss
        text/plain
        application/x-font-opentype
        text/richtext
        application/x-font-truetype
        text/tab-separated-values
        application/x-font-ttf
        text/xml
        application/x-httpd-cgi
        text/x-script
        application/x-javascript
        text/x-component
        application/x-mpegurl
        text/x-java-source
        application/font-woff
        application/font-woff2
        application/font-ttf
        application/font-eot
        application/x-opentype;
      gzip_vary on;
