files:
  "/etc/nginx/conf.d/mdot-redirect.conf":
     owner: root
     group: root
     mode: "000644"
     content: |

        map_hash_max_size 262144;
        map_hash_bucket_size 262144;

        map $request_uri $redirected_url {
            default "none";
            include /etc/nginx/mdot-redirects.map;
        }

        server {
            listen 8080;

            server_name m.ttf-preview.cxp.io www.m.ttf-preview.cxp.io;

            # pre-defined redirects
            if ($redirected_url != "none") {
                rewrite ^ https://www.talktofrank.com$redirected_url permanent;
            }

            return 301 https://www.talktofrank.com$request_uri;
        }