files:
  "/etc/nginx/conf.d/mdot-redirect.map":
     owner: root
     group: root
     mode: "000644"
     content: |
        server {
            listen 8080;

            server_name m.ttf-preview.cxp.io m.talktofrank.com m.ttf-prod.cxp.io;

            rewrite ^/oldlocation$ https://www.talktofrank.com/oldlocation permanent;

            return 301 https://www.talktofrank.com$request_uri;
        }
