files:
  /etc/nginx/conf.d/proxy.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
        # Elastic Beanstalk Managed

        # Elastic Beanstalk managed configuration file
        # Some configuration of nginx can be by placing files in /etc/nginx/conf.d
        # using Configuration Files.
        # http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/customize-containers.html
        #
        # Modifications of nginx.conf can be performed using container_commands to modify the staged version
        # located in /tmp/deployment/config/etc#nginx#nginx.conf
        map $request_uri $redirected_url {
          default "none";
          include /etc/nginx/redirects.map;
        }

        map $content_type $expires {

            default 1h; # not always picking up all content types for some reason - so set sensible default
            "text/html" 1h;
            "text/html; charset=UTF-8" 1h;
            "text/css; charset=UTF-8" max;
            "application/javascript;charset=UTF-8" max;
            "application/x-javascript;charset=UTF-8" max;
            "text/javascript;charset=UTF-8" max;
            "application/manifest+json;charset=UTF-8" 7d;
            "image/vnd.microsoft.icon;charset=UTF-8" 30d;
            "image/x-icon;charset=UTF-8" 30d;
            "audio/ogg;charset=UTF-8" 30d;
            "image/bmp;charset=UTF-8" 30d;
            "image/gif;charset=UTF-8" 30d;
            "image/jpeg;charset=UTF-8" 30d;
            "image/png;charset=UTF-8" 30d;
            "image/svg+xml;charset=UTF-8" 30d;
            "image/webp;charset=UTF-8" 30d;
            "video/mp4;charset=UTF-8" 30d;
            "video/ogg;charset=UTF-8" 30d;
            "video/webm;charset=UTF-8" 30d;
            "application/vnd.ms-fontobject;charset=UTF-8" 30d;
            "font/eot;charset=UTF-8" 30d;
            "font/opentype;charset=UTF-8" 30d;
            "application/x-font-ttf;charset=UTF-8" 30d;
            "application/font-woff;charset=UTF-8" 30d;
            "application/x-font-woff;charset=UTF-8" 30d;
            "font/woff;charset=UTF-8" 30d;
            "application/font-woff2;charset=UTF-8" 30d;
        }

        upstream nodejs {
            server 127.0.0.1:3000;
            keepalive 256;
        }

        server {
            listen 8080;

            #if ($http_x_forwarded_proto = "http") {
            #    return 301 https://$host$request_uri;
            #}

            # pre-defined redirects
            if ($redirected_url != "none") {
                rewrite ^ $redirected_url permanent;
            }

            if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
                set $year $1;
                set $month $2;
                set $day $3;
                set $hour $4;
            }
            access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
            access_log  /var/log/nginx/access.log  main;

            location / {
                proxy_pass  http://nodejs;
                proxy_set_header   Connection "";
                proxy_http_version 1.1;
                proxy_set_header        Host            $host;
                proxy_set_header        X-Real-IP       $remote_addr;
                proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
            }

            expires $expires;
        }

  /opt/elasticbeanstalk/hooks/configdeploy/post/99_kill_default_nginx.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
          service nginx stop
      service nginx start

container_commands:
 removeconfig:
    command: "rm -f /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"
