files:
  /etc/nginx/conf.d/headers.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      map $sent_http_content_type $expires {

          default         30d;

          text/css 365d;
          application/json 0d;
          application/ld+json 0d;
          application/schema+json 0d;
          application/vnd.geo+json 0d;
          application/xml 0d;
          text/xml 0d;

          image/vnd.microsoft.icon 365d;
          image/x-icon 365d;

          text/html 1h;

          application/javascript 365d;
          application/x-javascript 365d;
          text/javascript 365d;

          application/manifest+json 7d;
          application/x-web-app-manifest+json 0;
          text/cache-manifest 0;

          audio/ogg 30d;
          image/bmp 30d;
          image/gif 30d;
          image/jpeg 30d;
          image/png 30d;
          image/svg+xml 30d;
          image/webp 30d;
          video/mp4 30d;
          video/ogg 30d;
          video/webm 30d;

          application/vnd.ms-fontobject 30d;
          font/eot 30d;
          font/opentype 30d;
          application/x-font-ttf 30d;
          application/font-woff 30d;
          application/x-font-woff 30d;
          font/woff 30d;
          application/font-woff2 30d;
      }
