.hero {
  overflow: hidden;
  position: relative;
  max-height: 360px;

  .constrain-narrow {
    position: absolute;
    left: 0;
    right: 0;
    top: 234px;
  }

  .hero__inner {
    h1 {
      font-size: 6.4rem;
      top: -110px;
      @include media-breakpoint-down(sm) {
        font-size: 4.1rem;
        left: 0.5rem;
      }
      > span {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  .image img {
    margin-left: auto;
    margin-right: 0;
    display: block;
    width: auto;

    @include media-breakpoint-down(sm) {
      margin-right: auto;
      width: 100%;
    }
  }
}
