.hero {
  overflow: hidden;
  position: relative;

  .hero__inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1.5rem;

    &--constrained {
      max-width: 60rem;
    }
  }

  .image,
  img {
    width: 100%;
  }
}
