.header {
  padding: 0;

  @include media-breakpoint-up(sm) {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  & + .card-deck {
    @include media-breakpoint-down(sm) {
      margin-top: -2rem;
    }
  }
}
