//
// Base styles
//

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;

  &__image {
    height: 200px;
    width: 100%;
    @media (max-width: 425.98px) {
      height: 100px;
    }
  }

  &.card--quiet {
    border: 0;
    background-color: transparent;
  }

  .icon-play {
    @include media-breakpoint-up(sm) {
      height: 5rem;
      width: 5rem;
    }

    &.hidden--xs {
      display: block !important;
    }
  }
}

.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: $card-spacer-x 0 0;
}

.card__link {
  min-height: 1px;

  .has-hover & {
    &:hover,
    &:active {
      .time {
        text-decoration: none !important;
      }

      .link-text {
        color: $pink-accessible;
        border-bottom-style: solid;
        border-bottom-color: $pink;
      }

      .card-title {
        color: $text-dark-blue;
        text-decoration: underline;
        text-decoration-color: $pink;
      }
    }
  }
}

.card-title {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  font-family: $font-family-heavy;
}

.card-text:last-child {
  margin-bottom: 0;
}

.link-text {
  @include link;
  display: inline-block;

  .card__link & {
    display: inline-block;
  }

  &--inline {
    display: inline;
  }
}

//
// Header navs
//
.card-img {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
}

// Card image caps
.card-img-top {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
}

// Card deck

.card-deck {
  display: flex;
  flex-direction: column;

  .card {
    margin-top: 0;
    padding-bottom: 2rem;
    padding-top: 2rem;
    min-height: 1px;

    &:first-of-type {
      padding-top: 0;
    }
  }

  @include media-breakpoint-up(sm) {
    flex-flow: row wrap;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0;

    .card {
      display: flex;
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      flex-direction: column;
      margin-right: $card-deck-margin;
      margin-bottom: 0; // Override the default
      margin-left: $card-deck-margin;
      padding: 0;
      max-width: 30.6%;
    }
  }

  &--responsive {
    @media (min-width: 450px) {
      flex-flow: row wrap;
    }

    .card {
      min-width: 100%;

      @media (min-width: 450px) {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column;
        min-width: 50%;
        max-width: 50%;
        padding: 0 1rem;
        margin: 0;
      }

      @include media-breakpoint-up(sm) {
      }

      @include media-breakpoint-up(md) {
        min-width: 25%;
        max-width: 25%;
      }
    }
  }

  &.card-deck--compact {
    padding: 0;

    @include media-breakpoint-up(md) {
      margin-left: -0.3rem;
      margin-right: -0.3rem;

      .card {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .card.card--horizontal-desktop {
    margin-bottom: 30px;

    .card__link {
      display: flex;
    }

    .card-body {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 15px;
    }

    .card__image {
      width: 250px;
      flex-shrink: 0;
      height: 200px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
@include media-breakpoint-down(sm) {
  .card.card--mobile-horizontal {
    margin-bottom: 30px;

    .card__link {
      display: flex;
    }

    .card-body {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;

      padding-left: 15px;
      padding-top: 0;
    }

    .card__image {
      width: 160px;
      flex-shrink: 0;
      height: 125px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
