
.footer {
  color: $white;
  background-color: $black;

  .nav-item {
    display: inline-block;
  }

  .nav-link,
  a {
    color: $white;
    border-bottom: 1px dotted $white;
  }
}

.footer__inner {
  @extend %constrain-narrow;
}
