
.footer {
  color: $white;
  background-color: $gray-900;
  font-family: $font-family-heavy;

  .nav-item {
    display: inline-block;
  }
}

.footer__inner {
  @extend %constrain-narrow;
  padding-bottom: 3rem;
}
