$dims: 2rem;

.collapsible {
  background-color: $gray-100;
  border-bottom: 1px solid $gray-300;


  &--active {
    background-color: transparent;
  }

  &:first-of-type {
    border-top: 1px solid $gray-300;
  }

  .collapsible__content {
    display: none;

    &.collapsible__content--active {
      display: block;
    }
  }

  .collapsible__content,
  .collapsible__trigger {
    .section--has-toggle & {
      padding-left: 3rem;
      padding-right: 1rem;
    }
  }

  .collapsible__trigger {
    display: block;
    font-family: $headings-font-family;
    color: $black;
  }

  &.collapsible--chevron {
    .collapsible__trigger {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: $dims;
        height: $dims;
        left: 0;
        top: ($dims / 2);
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('/ui/svg/plus.svg');
      }
    }

    .collapsible__trigger--active {
      &:before {
        background-image: url('/ui/svg/minus.svg');
      }
    }
  }
}

