$dims: 2rem;

.collapsible {
  background-color: $gray-100;
  border-bottom: 1px solid $gray-300;

  @include media-breakpoint-down(md) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &--active {
    background-color: transparent;
  }

  &:first-of-type {
    border-top: 1px solid $gray-300;
  }

  .collapsible__content {
    display: none;

    &.collapsible__content--active {
      display: block;
      padding-bottom: 3rem;
    }
  }

  .collapsible__content,
  .collapsible__trigger {
    .section--has-toggle & {
      padding-left: ($dims * 2);
      padding-right: 1rem;
    }
  }

  .collapsible__content{
    .section--has-toggle & {
      @include media-breakpoint-down(sm) {
        padding-left: 0;
      }
    }
  }
  .collapsible__trigger {
    display: block;
    font-family: $headings-font-family;
    color: $body-text;
  }

  &.collapsible--chevron {
    .collapsible__trigger {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: $dims;
        height: $dims;
        left: 0;
        top: ($dims / 4);
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('/ui/svg/plus.svg');

        @include media-breakpoint-up(md) {
          top: ($dims / 2);
        }
      }
    }

    .collapsible__trigger--active {
      &:before {
        background-image: url('/ui/svg/minus.svg');
      }
    }
  }
}

