// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

body {
  font-size: 1.5rem;
  color: $body-text;

  @include media-breakpoint-up(lg) {
    font-size: 1.8rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $headings-font-family;
  color: $headings-color;
  font-weight: 700;
}

h1,
.h1,
%h1 {
  font-size: 4rem;
  line-height: (90px / 86px);

  @include media-breakpoint-up(md) {
    font-size: 6rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 9rem;
  }
}

h2,
.h2,
%h2 {
  font-size: 3.2rem;

  @include media-breakpoint-up(md) {
    font-size: 4rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 5rem;
  }
}

h3,
.h3,
%h3 {
  font-size: 2.1rem;

  @include media-breakpoint-up(md) {
    font-size: 2.4rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.8rem;
  }
}

.heading-inverted {
  background-color: $gray-900;
  color: $white;
  display: inline;
  position: relative;
  bottom: .06em;
  padding: 0;

  &.heading-inverted--primary {
    color: $white;
    padding: .2em .5em;
    background-color: $pink;
  }
}

.constrained-text {
  max-width: 50%;
}

.constrained-text--wide {
  max-width: 70%;
}

.heading-inverted--inline {
  position: relative;
  line-height: .9;
  background-color: $text-dark-blue;
  display: inline;
  left: 4rem;

  &:before {
    content: '';
    position: absolute;
    background-color: $text-dark-blue;
    width: 2rem;
    top: 0;
    left: -2rem;
    bottom: 0;
  }

  span {
    left: -1rem;
    color: $white;
    margin: 0;
    position: relative;
    bottom: .3rem;
  }
}
h4,
.h4,
%lead,
%h4 {
  font-size: 1.8rem;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.4rem;
  }
}

h5,
.h5 {
  font-size: 1.7rem;

  @include media-breakpoint-up(md) {
    font-size: 1.8rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.1rem;
  }
}


.lead {
  @extend %lead;
}


//
// Emphasis
//

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}


//
// Lists
//

.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
}

.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}


//
// Misc
//
.muted {
  color: $gray-600;
}

.grey {
  color: $gray-900;
}

.heading--primary {
  color: $pink;
}

.display-2,
.display-3,
.display-4 {
  margin-top: .3em;
  line-height: .9;
}

.display-2 {
  font-size: 6rem;

  @include media-breakpoint-up(md) {
    font-size: 8rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 12rem;
  }
}

.display-3 {
  font-size: 4rem;

  @include media-breakpoint-up(md) {
    font-size: 6rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 9rem;
  }
}

.display-4 {
  font-size: 7rem;
}

.smaller {
  font-size: 80%;
}

.regular {
  font-family: $font-family-sans-serif;
}

.italic {
  font-style: italic;
}

strong,
.bold,
b {
  font-family: $font-family-heavy;
}

.list-item--underlined {
  border-bottom: 1px solid $gray-300;

  &:first-child {
    border-top: 1px solid $gray-300;
  }

  .list-link {
    padding: 1em;

    &:active,
    &:hover {
      color: $body-text;
      background-color: $gray-100;

      p,
      span {
        display: inline-block;
        text-decoration: none;
      }
    }

    &:visited {
      text-decoration: underline;
    }
  }
}

.list-link {
  display: block;
  color: inherit;

  &:hover p {
    text-decoration: none;
  }
}

.fake-link {
  cursor: pointer;
}

.inverted {
  line-height: 1;
  display: inline-block;
  margin-bottom: .2em;
  background-color: $gray-900;
  color: $white;
  padding: .2em .4em;

  &--quiet {
    background-color: $gray-200;
    color: $body-text;
  }
}

// long-form content overrides

.long-form {
  p {
    margin-bottom: 1em;
  }
}

p {
  a {
    color: $pinkAccess;
    text-decoration: underline;
  }
}

.definition-list {
  position: relative;
  background-color: $gray-200;
  overflow: hidden;
  margin-top: -3rem;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-up(sm) {
    dd,
    dt {
      margin-bottom: 1rem;
      flex: 1 0 0;
      max-width: 50%;
    }

    dt {
      margin-right: .1em;
      clear: left;
      font-family: $headings-font-family;
    }

    dd {
      clear: right;

      &:after {
        content: '';
        clear: both;
        display: block;
      }
    }

    p {
      display: inline-block;
      margin-bottom: 0;

      .collapsible & {
        margin-left: 0;
      }
    }

    dd:last-of-type,
    dt:last-of-type {
      margin-bottom: 0;
    }

    & + & {
      border-top: 1px solid $gray-200;
    }
  }
}

.return-to-top {
  display: block;
  padding-top: 1.5rem;
  color: $body-text;
  text-decoration: underline;
}

