

html {
  font-size: 62.5%; // Easier font size calculations - clagnut.com/blog/348/ (18 May 2004!!)
  line-height: 1.6; // Unitless line-height - meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/ (8 Feb 2006!!)
}

.container-fluid {
  max-width: $max-width;
}

ul {
  padding-left: 2.5rem;
}

table {
  th {
    border-bottom: 1px solid #4A4A4A;
  }
  td, th {
    padding: 2rem 3rem 0 0;
    vertical-align: top;
    text-align: left;
  }
}