/* =============================================================================
   Layout
   ===========================================================================*/
$grid-gutter: 30px;

%constrain {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  padding-left: $grid-gutter / 2;
  padding-right: $grid-gutter / 2;

  @include media-breakpoint-up(lg) {
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
  }
}

%constrain-narrow {
  max-width: $max-width-inner;
  margin-left: auto;
  margin-right: auto;
}

.constrain-narrow {
  @extend %constrain-narrow;
}

.main {
  @extend %constrain-narrow;
  padding: 3rem 1.5rem 5rem;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    padding-top: 5rem;
  }

  &--full-width {
    max-width: none;
  }
}

main {
  outline: none;  // Prevent focus outline
}

.section {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  position: relative;
  overflow: hidden;
}
