
// mixins
@mixin arrow {
  content: '';
  position: absolute;
  right: 2rem;
  top: 50%;
  margin-top: -6px;
  height: 16px;
  width: 24px;
  background-image: url('/ui/svg/arrow-right.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: right .1s ease-in-out, left .1s ease-in-out;

  @include media-breakpoint-down(sm) {
    background-size: 80%;
  }
}

@mixin arrow-hover {
  position: relative;
  padding-right: 5rem !important;

  .has-hover & {
    &:hover {
      &:after {
        @include arrow;
        right: 1rem;
      }
    }
  }
}

@mixin link {
  color: $text-dark-blue;
  margin-bottom: .2em;
  border-bottom: 1px dashed $pink-accessible;

  .has-hover & {
    &:active,
    &:hover,
    &:focus {
      color: $pink-accessible;
      text-decoration: none;
      border-bottom-style: solid;
      border-bottom-color: $pink-accessible;
    }
  }
}

@mixin break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  // hyphens: auto;
}

@mixin vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
