
@font-face {
  font-family: 'robotoregular';
  src: url("./ui/font/Roboto-Regular.woff") format("woff"), url("./ui/font/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Archivo SemiBold';
  src: url("./ui/font/Archivo-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("./ui/font/Archivo-SemiBold.eot?#iefix") format("embedded-opentype"), url("./ui/font/Archivo-SemiBold.woff2") format("woff2"), url("./ui/font/Archivo-SemiBold.woff") format("woff"), url("./ui/font/Archivo-SemiBold.ttf") format("truetype"), url("./ui/font/Archivo-SemiBold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Archivo Bold';
  src: url("./ui/font/Archivo-Bold.eot");
  /* IE9 Compat Modes */
  src: url("./ui/font/Archivo-Bold.eot?#iefix") format("embedded-opentype"), url("./ui/font/Archivo-Bold.woff2") format("woff2"), url("./ui/font/Archivo-Bold.woff") format("woff"), url("./ui/font/Archivo-Bold.ttf") format("truetype"), url("./ui/font/Archivo-Bold.svg#svgFontName") format("svg");
}

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  line-height: 1.6;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}



body {
  margin: 0;
  font-family: "robotoregular", Roboto, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0E3944;
  text-align: left;
  background-color: #fff;
}


.constrain-narrow,
.main {
  max-width: 105rem;
  padding-right: 2rem;
  padding-left: 2rem;
}


@media (min-width: 576px) {
  .constrain-narrow,
  .main {
    margin-left: auto;
    margin-right: auto;
  }
}

.main {
  padding: 2rem 2rem 5rem;
  overflow: hidden;
}

.main--muted {
  background-color: #F0F4F5;
}

@media (min-width: 576px) {
  .main {
    padding-top: 3rem;
  }
}
#helpline
{
    padding-top:15px;
    margin-bottom: 30px;
}

.details
{
    margin:none;
    padding:none;
    font-weight: normal;
    color: Black;
}

#chatOffLine
{
    margin:none;
    font-weight: normal;
    text-align:left;
    color: Red;
}

#entryForm,
#entryForm1,
#entryForm2,
#entryForm3 {
    width: 100% !important;
    margin-bottom: 3rem;
}

#ChatOnline {
  font-size: 2.1rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-family: "Archivo SemiBold", "Arial Bold", sans-serif;
}

.form-hint
{
    font-size: 1.4rem;
    font-weight:normal;
    color: #D10058;
}

.ControlWhite,
.ControlBlack {
  display: block;
  width: 100%;
  height: 3em;
  max-width: 50rem;
  background-clip: padding-box;
  background-color: #fff;
  box-sizing: border-box;
  padding: .375em .75em;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 3px;
  -o-transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
  transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
  font-size: 1.8rem;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ControlBlack {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 1;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 40'><polygon points='0,0 60,0 30,40' style='fill:#D10058;'/></svg>");

  padding: .75em;
  background-size: .8em auto;
  background-position: right .8em center;
}

#chatArea
{
    min-height:300px;
    /*max-height:300px;*/ /* joel - I see no reason for this */
}

#txtMsg
{
    margin-top: 5px;
    padding: 0px;
    height:60px;
    max-height: 300px;
}

#ChatWindow
{
    margin: 2px;
    padding: 0px;
    height:200px;
    border: 0;
    overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
    overflow-y: auto;
}

#WhoIsTyping
{
    height: 20px;
}

.Username
{
    font-weight: bold;
}

.Agent {
    color: #5192a2;
 }
.Agent .Message {
    color: #5192a2;
 }

/* CHAT STATUS*/

#ChatStatus
{
    height:30px;
    margin: 0px;
    border:none;
    vertical-align:middle;
    text-align: center;
    font-size: 14pt;
}

.initialising
{
    color: #e38307;
}

.waiting
{
    color: #85c1e6;
    /*color: #5192a2;*/
}

.talking
{
    color: #99cc02;
}

.ended
{
    color: #6b918d;
}

.failed
{
    color: #d22c00;
}

/* buttons */
.btn {
  border-radius: 0;
  font-size: 2rem;
  line-height: 1;
  padding: 1rem;
  font-family: "Archivo SemiBold", "Arial Bold", sans-serif;
  margin-right: 1.5em;
  color: inherit;
}

.btn.btn--large {
  font-size: 2.4rem;
  padding-top: 2.2rem;
  padding-bottom: 1.8rem;
}

.btn.btn--large:active {
  padding-top: 3rem;
  padding-bottom: 1.6rem;
}

.btn.btn--primary {
  color: #fff;
  background-color: #FC016A;
  text-decoration: none;
  text-align: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.btn.btn--primary .btn__text {
  color: #fff;
}

.btn.btn--primary:last-child {
  margin-right: 0;
}

.btn.btn--primary:active {
  position: relative;
  top: .1em;
}

@media (min-width: 768px) {
  .btn.btn--primary {
    font-size: 2.3rem;
  }
}

/* for screenreaders */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

/*
form */

.form-group {
  margin-bottom: 3rem;
}

