.navigation-wrapper {
  padding: .75rem 0 0;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.navbar {
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: $font-family-heavy;

  &.navbar-drop-sm {
    @include media-breakpoint-up(md) {
      margin-right: 3rem;
    }
  }

  &.displaced-top {
    position: relative;
    transform: translateY(-3rem);
    margin-bottom: -3rem;

    @include media-breakpoint-up(md) {
      margin-bottom: -1rem;
    }
  }

  &.navbar-raised {
    font-size: 1.8rem;

    @include media-breakpoint-down(sm) {
      .navbar-nav {
        display: block;
        width: 100%;
        margin-top: 2rem;

        .nav-item {
          display: block;
        }

        .nav-link {
          width: auto;
          margin-bottom: .2rem;
          margin-top: .2rem;
          display: inline-block;
        }
      }
    }

    .nav-item {
      margin-right: 2rem;
    }

    .nav-link {
      color: $white;
      padding-bottom: 0;
      border-bottom: 1px dotted $white;

      .has-hover & {
        &:hover {
          border-bottom-style: solid;
          text-decoration: none;
        }
      }
    }
  }
}

.navbar-primary {
  margin-top: .5rem;

  @include media-breakpoint-down(sm) {
    font-size: 2.2rem;
    background-color: $gray-200;
  }

  @include media-breakpoint-up(sm) {
    margin-top: 0;
  }

  .navbar-nav {
    width: 100%;
  }

  .nav-item {
    &:not(:last-child) {
      border-bottom: 1px solid $gray-400;
    }

    @include media-breakpoint-up(md) {
      margin: .5em 1em .5em .5em;
      border-bottom: 0 !important;
    }

    @include media-breakpoint-up(lg) {
      margin-right: 1.5em;
    }

    &.nav-item--active {
      .nav-link {
        color: $pinkAccess;
      }
    }
  }

  .nav-link {
    color: $text-dark-blue;
    display: block;
    padding: .25em 1em .25em 0;

    .has-hover & {
      &:active,
      &:hover,
      &:focus {
        color: $pinkAccess;
      }
    }
  }
}

.nav-item--has-dropdown {
  @include media-breakpoint-up(md) {
    padding-left: 1rem;
    margin-left: 1rem;
    position: relative;

    > a::before {
      content: '';
      width: 12px;
      height: 6px;
      position: absolute;
      left: -2rem;
      top: 50%;
      margin-top: -3px;
      background-image: url('/ui/svg/arrow-down.svg');
    }

    &.nav-item--dropdown-active {
      > a::before {
        background-image: url('/ui/svg/arrow-up.svg');
      }

      .navbar-dropdown {
        display: block;
      }
    }
  }
}

.navbar-dropdown {
  font-family: $font-family-sans-serif;

  &.list-unstyled {
    padding-left: 1.5rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(md) {
    background-color: $white;
    display: none;
    position: absolute;
    margin-top: .75rem;
    top: 100%;
    width: 32rem;
    padding: 0 1.5rem 1.5rem 2.5rem !important;
    left: -1rem;
    box-shadow: 0 2px 3px 0 rgba($black, .25);
  }

  .nav-item {
    border: 0;
  }
}

.navbar-list {
  .nav-item {
    margin-right: 1.5rem;
    font-size: 2.4rem;
  }

  .navbar-nav {
    .nav-link {
      padding: .2em .3em 0;
      @include link;

      .has-hover & {
        text-decoration: none;
      }
    }
  }
}


.navbar-muted {
  .nav-link {
    color: $gray-500;
    border-bottom: 0;
    text-decoration: underline;
    font-size: 1.4rem;
    margin-right: 1.5rem;

    &:hover {
      color: $white;
    }
  }
}
