.navigation-wrapper {
   padding: .75rem 0;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.navbar {
  padding-left: 1.5rem;

  &.navbar-drop-sm {
    @include media-breakpoint-up(md) {
      margin-right: 3rem;
    }
  }

  &.displaced-top {
    position: relative;
    top: -4rem;
  }
}

.navbar-primary {
  font-family: $font-family-heavy;

  @include media-breakpoint-down(sm) {
    margin-top: .5rem;
    font-size: 2.2rem;
    background-color: $gray-200;
  }

  @include media-breakpoint-up(sm) {
    margin-top: 0;
  }
}

.nav-item {

  @include media-breakpoint-up(md) {
    margin: .5em .5em .5em 0;
  }

  &--active {
    .nav-link {
      color: $pink;
    }
  }
}

.navbar-muted {
  .nav-link {
    color: $gray-600;
  }
}

.nav-link {
  color: $black;

  &:active,
  &:hover,
  &:focus {
    color: $pink;
  }
}
