.navbar {
  padding-left: .5rem;
}

.nav-item {
  border-bottom: 5px solid transparent;

  @include media-breakpoint-up(md) {
    margin: .5em 1.5em .5em 0;
  }

  &--active {
    border-bottom-color: $pink;

    .nav-link {
      color: $black;
    }
  }
}

.nav-link {
  color: $gray-600;

  &:active,
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
