.form-control {
  &--search {
    border: 0;
    color: $text-dark-blue;
    font-size: 2.1rem;
    padding: .4em;
    min-width: 100%;
  }

  &--underline {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: $pink;
    text-decoration-skip-ink: none;
    text-underline-position: under;
  }
}

.form-label {
  flex-basis: 100%;
}

input[type='search'],
input[type='text'] {
  caret-color: $pink;
}

////////////
.close {
  align-self: flex-start;
}

.input-group-append {

}

/////////////////////
// autosuggest specific stylings - a theming layer if you will
/////////////////////

.react-autosuggest__container {
  flex-basis: 100%;
  max-width: 79rem;

  input[type='search'] {
    padding: 10px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: $text-dark-blue;
    margin-bottom: 10px;
  }
}

.react-autosuggest__suggestions-list {
  list-style: none;
  padding-left: 0;
}

.react-autosuggest__suggestion--highlighted {
  background-color: $gray-200;

  a:after {
    @include arrow;
  }
}

.react-autosuggest__suggestions-container--open,
.react-autosuggest__container--open {

}

.react-autosuggest__container--open {
  min-width: 100%;
  max-width: 50rem;
  flex-basis: 100%;
}

.react-autosuggest__suggestion {
  @extend %list-item--underlined;

  p {
    margin-bottom: 0;
  }
}

.react-autosuggest__suggestions-container--open {

}

// container:                'react-autosuggest__container',
// containerOpen:            'react-autosuggest__container--open',
// input:                    'react-autosuggest__input',
// inputOpen:                'react-autosuggest__input--open',
// inputFocused:             'react-autosuggest__input--focused',
// suggestionsContainer:     'react-autosuggest__suggestions-container',
// suggestionsContainerOpen: 'react-autosuggest__suggestions-container--open',
// suggestionsList:          'react-autosuggest__suggestions-list',
// suggestion:               'react-autosuggest__suggestion',
// suggestionFirst:          'react-autosuggest__suggestion--first',
// suggestionHighlighted:    'react-autosuggest__suggestion--highlighted',
// sectionContainer:         'react-autosuggest__section-container',
// sectionContainerFirst:    'react-autosuggest__section-container--first',
// sectionTitle:             'react-autosuggest__section-title'
