.form-control {
  &--search {
    border: 0;
    color: $text-dark-blue;
    font-size: 2.1rem;
    padding-left: .4em;
    flex-grow: 1;
    max-width: 60rem;
    width: 100%;
  }
}

.form-label {
  flex-basis: 100%;
}

////////////
.input-group-autocomplete {
  flex-grow: 1;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: $text-dark-blue;

  .input-group-autocomplete-menu {
    list-style: none;
    padding: 0;
    position: absolute;
    overflow: auto;
    top: 40px;
    left: 0px;
    border-top: 0;
    z-index: 5;

  }
}
