.form-control {
  &--search {
    border: 0;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: $gray-900;
    font-size: 1.8rem;
    padding-left: .4em;
    flex-grow: 1;
  }
}

.raised,
.input-group--raised {
  box-shadow: 3px 3px 0 0 $black;
  width: 100%;
}

.form-label {
  flex-basis: 100%;
}
