.ReactModal__Content {
  align-items: center;
  padding-bottom: 50px !important;
  padding-top: 30px !important;

  &__closeicon {
    position: absolute;
    z-index: 999;
    right: 7px;
    top: 16px;
    transform: translateZ(1px);

    &:hover {
      cursor: pointer;
    }
  }

  .quick-info-panel-tabs {
    padding-left: 10px;
    padding-right: 10px;
  }

  h3 {
    line-height: 30px;

    &.no-img {
      margin-bottom: 4rem;
    }
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}

.ReactModal__Body--open {
}
