.ReactModal__Content {
  align-items: center;
  &__closeicon {
    position: absolute;
    z-index: 999;
    right: 5px;
    top: 5px;
    &:hover {
      cursor: pointer;
    }
  }

  h3 {
    line-height: 30px;
    &.no-img {
      margin-bottom: 4rem;
    }
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}

.ReactModal__Body--open {
  overflow-y: hidden;
}
