$offset: 3.5rem;

@mixin fake-hr {
  &::before,
  &::after {
    content: '';
    height: 1px;
    background-color: $gray-200;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: -10rem;
    width: 100%;
    left: -1rem;
  }
}

.list-offset {
  margin-bottom: 6rem;

  .list-item {
    max-width: 50rem;
    margin: 15rem auto;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    &:not(.list-item--has-image) {
      @include fake-hr;

      &::before {
        display: none;
      }
    }

    .list-item__inner {
      position: relative;
      max-width: 50rem;

      .heading-inline {
        left: 0;

        span {
          left: 0;

          @include media-breakpoint-up(sm) {
            left: -1rem;
          }
        }
      }

      .long-form {
        margin: 2rem 0 0;
        color: $body-text;

        @include media-breakpoint-up(sm) {
          margin-left: -1rem;
        }
      }
    }

    .link-text,
    .time {
      position: absolute;
      background-color: $white;
      left: 0;

      @include media-breakpoint-up(sm) {
        margin-left: -1rem;
      }
    }

    .time {
      bottom: 100%;
      color: $body-text;
      padding: .4em .4em .4em 0;
    }

    .link-text {
      top: calc(100% + 2.5rem);
    }

    .image {
      img {
        max-height: 45rem;
        max-width: 105%;
        width: auto;
      }
    }

    .list-item__link {
      display: block;

      .has-hover & {
        &:hover {
          .has-arrow {
            &:after {
              right: 1rem;
            }
          }

          .long-form {
            display: inline-block;
            text-decoration: none;
          }
        }
      }
    }

    .list-item__title {
      position: relative;
      max-width: 42rem;
      margin-top: $offset;

      span {
        bottom: 0;
      }
    }

    & + .list-item--has-image {
      margin-top: -2rem;
      margin-bottom: -2rem;
    }

    &.list-item--has-image {
      max-width: none;
      margin-bottom: 3rem;

      .list-item__inner {
        margin-top: -2.8rem;

        @include media-breakpoint-up(sm) {
          margin-top: 0;
          @include vertical-align;
        }
      }

      .list-item__title {
        z-index: 1;
      }

      // temp disabling to reinstate images on news listing
      //      .has-arrow {
      //        display: none;
      //      }

      & + .list-item:not(.list-item--has-image) {
        margin-top: 17rem;

        @include media-breakpoint-up(sm) {
          margin-top: 10rem;
        }

        &::before {
          display: block;
          bottom: calc(100% + 5rem);
        }
      }
    }

    span + .has-arrow {
      margin-left: 1rem;
    }

    &.list-item--alternate {
      @include media-breakpoint-up(sm) {
        left: auto;

        .list-item__title {
          &::before {
            left: auto;
            right: -2rem;
          }
        }

        span {
          left: auto !important;
          right: 0;
        }

        .link-text,
        .time,
        .list-item__title {
          text-align: right;
          left: auto;
          right: 0;
        }

        .time {
          padding-left: .4em;
          padding-right: 0;
        }

        .list-item__inner {
          right: 0;
        }
      }
    }
  }
}
